.Input {
  display: block;
  margin: 1.2vw auto;
  padding: 1vw;
  font-size: 1.8vw;
  background-color: #eeeeee;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
}
.OTP {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin-top: 10vh;
}
.OTP h1 {
  margin: auto;
  margin-bottom: 3vh;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.Button {
  margin: auto;
  margin-top: 2vh;
  font-family: "Lato", sans-serif;
  font-size: 3vh;
  color: #000000;
  border: none;
  padding: 1vh 3vh;
  background-color: #00c1d4;
  cursor: pointer;
}
.Button:hover :global .fa-chevron-right {
  text-decoration: underline;
  margin-right: 0.2vw;
}
.Button:hover,
.Button:active {
  font-weight: bold;
  color: #eeeeee;
}
.P {
  color: #f8485e;
}