.Footer{
    position:sticky;
    bottom: 0;
    background-color: #512d6d;
    width: 100%;
    font-size: 4vh;
    padding: 0.5vh 5vw;
    color: #eeeeee;
    box-sizing: border-box;
}
:global .fa-linkedin-in{
    margin-right: 2vw;
    cursor: pointer;
}
:global .fa-github{
    cursor: pointer;
}
:global .fa-linkedin-in:hover, :global .fa-linkedin-in:active{
    color: #0371AD;
}
:global .fa-github:hover, :global .fa-github:active{
    color: #000000;
}