.Footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: #512d6d;
  width: 100%;
  font-size: 4vh;
  padding: 0.5vh 5vw;
  color: #eeeeee;
  box-sizing: border-box;
}
.P {
  margin: 0;
  font-size: 1.5vw;
}
.Link {
  text-decoration: none;
  color: #ffffff;
}
:global .fa-linkedin-in {
  margin-right: 2vw;
  cursor: pointer;
}
:global .fa-github {
  cursor: pointer;
}
:global .fa-linkedin-in:hover,
:global .fa-linkedin-in:active {
  color: #0371ad;
}
:global .fa-github:hover,
:global .fa-github:active {
  color: #000000;
}
@media (max-width: 750px) {
  :global .fa-linkedin-in {
    margin-right: 5vw;
  }
  .P {
    font-size: 6vw;
  }
}
